<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= item.name %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="/items" class="back-link">← Retour au Grimoire</a>
    <div class="description-card">
        <h2><%= item.name %></h2>
        <p><strong>Type:</strong> <%= item.equipment_category.name %> | <strong>Rareté:</strong> <%= item.rarity.name %></p>
        <hr>
        <% item.desc.forEach(p => { %>
            <p><%= p %></p>
        <% }); %>
    </div>
</body>
</html>